body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.title-feedback {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 600;
	font-family: "Roboto Medium", "Arial", sans-serif;
}

.banner-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	font-family: "Roboto Bold", "Arial Bold", sans-serif;
}