body {
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
	min-width: 1200px;
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.site-wrapper {
	background-image: url("../img/slider-img1.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #849d8f;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("slide-2.png");
}

.site-wrapper::after {
	background-image: url("slide-3.png");
}

.content-wrapper {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 27px;
}

.title-feedback {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 500;
	margin: 0;
}

.banner-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.site-navigation,
.nested-list {
	list-style: none;
}

.nested-list {
	display: none;
	padding: 0;
	position: absolute;
	margin-top: 10px;
	left: 0px;
	min-width: 144px;
	border-radius: 5px;
	padding: 5px 0;
}

.site-navigation .new {
	font-weight: 700;
	padding-top: 6px;
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(53,53,53,.2);
}

.site-navigation .nested-list li {
	margin-bottom: 3px;
}

.site-navigation .nested-list a {
	display: block;
	padding: 7px 0px 7px 14px;
	margin-left: 6px;
	margin-right: 9px;
}

.site-navigation .navigation-item {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation .navigation-item:hover,
.site-navigation .navigation-item:focus {
	background-color: #f7f6f3;
	color: #333333;
	border-radius: 15px;
	padding: 7px 14px;
	margin: 0;
}

.site-navigation li:first-child:hover .nested-list {
	display: block;
}

.site-navigation li:first-child::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 10px;
}

.site-navigation .navigation-item:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 1px 0px #696969;
}

.nested-list,
.hover-search,
.ordering {
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 2;
}

.nested-list a {
	font-size: 14px;
	line-height: 16px;
	display: block;
	color: #323232;
	padding-left: 10px;
}

.nested-list li:hover,
.nested-list li:focus {
	background-color: #fbded7;
}

.nested-list li:active {
	background-color: #f6b5a5;
}

.site-navigation .page-current-sub,
.site-navigation .page-current-sub:hover {
	background-color: #d07058;
} 

.hover-search input {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	color: #323232;
	border: 1px solid #d3d3d2;
}

.hover-search input:hover,
.hover-login input:hover,
.subscribe input:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover {
	box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.button {
	background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 1px 2px 0 #ac1000;
	border: none;
}

.header-contacts {
	text-align: right;
}

.header-contacts span {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.header-contacts a {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.slider-title {
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	text-align: center;
}

.slider-button {
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	font-weight: 700;
}

.slider-controls {
	position: absolute;
	bottom: 12px;
	left: 0;
	z-index: 8;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

body>input[type="radio"] {
	display: none;
}

.ice_cream {
	display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-img1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-img2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-img3.png");
}

.banner1 {
	background-image: url("../img/crimson-bg.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 520px;
	height: 194px;
	border-radius: 14px;
}

.banner2 {
	background-image: url("../img/choco-bg.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 520px;
	height: 194px;
	border-radius: 14px;
}

.banner-offer {
	font-size: 18px;
	font-weight: 700;
}

.banner1 a,
.banner2 a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.popular .price,
.range .price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.popular .price span:first-child {
	padding-right: 35px;
	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
	background-position: right 10px;
}

.popular .price span:last-child {
	margin-left: -10px;
}

.popular .price span:last-child,
.range .price span {
	font-size: 30px;
}

.popular h3,
.range h3,
.popular section>a {
	text-align: center;
}

.popular .description,
.range .description {
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.popular .description:hover,
.popular .description:focus,
.footer-links a:hover,
.footer-links a:focus,
.copyright p a:hover,
.copyright p a:focus,
.breadscrumbs a:hover,
.breadscrumbs a:focus,
.range .description:hover,
.range .description:focus {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.quick-view,
.subscribe button,
.contacts>a {
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	font-weight: 700;
	display: inline-block;
}

.features {
	width: 1104px;
	height: 260px;
	background-image: url(../img/waffle-bg.jpg);
	border-radius: 15px;
	padding: 23px 21px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.features p {
	color: #323232;
	margin: 0;
}

.features .features-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 12px;
}

.features .features-item {
	width: 482px;
	margin-bottom: 12px;
	padding-left: 56px;
	padding-top: 12px;
}

.features .features-icon1 {
	background-image: url("../img/ice-cream.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.features .features-icon2 {
	background-image: url("../img/cow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.features .features-icon3 {
	background-image: url("../img/eco.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.features .features-icon4 {
	background-image: url("../img/thermometer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.news {
	width: 560px;
	height: 220px;
	background-image: url("../img/strawberry-bg.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.news p {
	color: #323232;
	font-weight: 500;
	margin: 0px;
	margin-left: 20px;
	width: 300px;
}

.news p:first-child {
	margin-top: 22px;
}

.news p:last-child {
	margin-top: 5px;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	text-decoration: underline;
}

.news a:hover {
	text-decoration: none;
}

.subscribe-wrapper {
	width: 550px;
	height: 210px;
	background-image: url("../img/bg-post.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 5px;
	border-radius: 15px;
}

.subscribe {
	width: 510px;
	height: 154px;
	background-color: #f8f7f4;
	border-radius: 15px;
	padding: 28px 22px;
}

.subscribe p {
	color: #5a5a5a;
	margin: 0;
	margin-bottom: 37px;
}

.subscribe input {
	width: 340px;
	height: 40px;
	border-radius: 5px;
	padding-left: 13px;
	padding-right: 13px;
	margin-right: 9px;
}

.subscribe button {
	padding: 10px 15px;
	border-radius: 22px;
}

.subscribe input,
.modal-feedback input,
.modal-feedback textarea {
	font: inherit;
	background-color: #ffffff;
	border: 1px solid rgba(178, 178, 178, 0.52);
	line-height: 24px;
	color: #323232;
}

.contacts {
	background-color: #fefefe;
	width: 252px;
	border-radius: 15px;
	padding: 28px 24px 30px 24px;
	position: absolute;
	top: 62px;
	right: 27px;
}

.contacts h3,
.contacts-tel {
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	font-weight: 400;
	margin: 0;
	margin-bottom: 2px;
}

.contacts p {
	margin: 0;
}

.map .contacts>a {
	padding: 10px 27px;
    border-radius: 22px;
    margin-top: 25px;
}

.contacts .contacts-adress {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-weight: 700;
	margin-bottom: 17px;
}

.contacts-tel a {
	display: block;
	font-size: 18px;
	line-height: 22px;
	color: #323232;
	font-weight: 700;
	padding-top: 7px;
}

.footer-links a {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	border-bottom: 1px solid #adacaa;
	
}

.footer-links span {
	min-width: 110px;
	margin-right: 32px;
}

.footer-links span:nth-child(2n-1) {
	padding-left: 22px;
}

.footer-links .favorite-link {
	font-weight: 700;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.copyright p {
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
	margin: -2px;
}

.copyright p a {
	color: #fefefe;
	border-bottom: 1px solid #adacaa;
}

.modal-feedback {
	width: 429px;
	height: 407px;
	position: fixed;
	background-color: #f8f7f4;
	border-radius: 15px;
	padding: 18px 24px;
	display: none;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-top: -205px;
    margin-left: -237px;
}

.modal-feedback p {
	margin: 18px 0;
}

.modal-feedback button {
	color: #fefefe;
}

.site-navigation .page-current,
.site-navigation .page-current:hover {
	background-color: #d07058;
	color: #ffffff;
}

.basket a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	background-color: #f7f6f3;
}

.ordering a {
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	font-weight: 700;
}

.ordering td {
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.ordering td span {
	color: #999999;
}

.ordering td[colspan] {
	font-size: 15px;
	line-height: 18px;
	color: #323232;
	font-weight: 700;
	text-align: right;
	margin-right: -2px;
	margin-top: 3px;
	padding-top: 15px;
	border-top: 1px solid #cacac7;
}


.breadscrumbs {
	list-style: none;
	padding: 0;
	margin-top: -23px;
	margin-bottom: 1px;
}

.breadscrumbs a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadscrumbs-current,
.filter legend {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter legend {
	font-weight: 500;
	margin-left: 14px;
}

.filter-sorting legend {
	margin-left: 16px;
}

.filter label,
select {
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.filter select option {
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.filter-bg {
	margin-top: 6px;
	margin-bottom: 16px;
	padding: 9px 0 9px 13px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 17px;
	background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat {
	padding-right: 0px;
	width: 403px;
}

.filter select {
	margin-top: 5px;
	padding: 9px 11px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 17px;
	background-color: rgba(255, 255, 255, 0.2);
}

.filter-price input {
	background: none;
	border: none;
	width: 26px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
}

.button2 {
	width: 145px;
	align-self: center;
	margin-top: 5px;
	color: #ffffff;
	line-height: 18px;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 25px;
	padding: 7px 26px;
}

.button2:hover {
	background-color: #ffffff;
	color: #323232;
}

.button2:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination {
	text-align: right;
	display: flex;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 17px;
	margin-top: 42px;
}

.pagination .no-active {
	color: rgba(255, 255, 255, 0.2);
	fill: rgba(255, 255, 255, 0.2);
}

.pagination-previous,
.pagination-next {
	color: #ffffff;
	background: none;
	border: none;
	padding: 0;
}

.pagination a {
	display: inline-block;
	width: 26px;
	height: 26px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-right: 1px;
	margin-left: 1px;
}

.pagination a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

a.pagination-current,
a.pagination-current:hover,
.pagination a:active {
	background-color: #ffffff;
	color: #323232;
}

.pagination-next {
	width: 26px;
	height: 26px;
	font-size: 0;
	fill: #ffffff;
	text-align: right;
}

.pagination-next:hover {
	cursor: pointer;
}

.pagination-previous {
	margin-left: auto;
	width: 26px;
	height: 26px;
	font-size: 0;
	transform: rotate(180deg);
	text-align: right;
}

.main-header {
	width: 1146px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	padding:9px 0px 0px 0px;
	flex-wrap: wrap;
	justify-content: space-between;
	clear: both;
}

.main-navigation {
	width: 853px;
	display: flex;
}

.logo {
	margin: 0;
}

.user-navigation {
	width: 267px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 14px;
}

.header-contacts {
	width: 267px;
	margin-left: auto;
	margin-top: -6px;
}

.header-contacts span {
	display: block;
	margin-bottom: 5px;
}

.site-navigation {
	display: flex;
	margin: -10px 0 0 11px;
	padding: 0;
	align-items: flex-start;
	padding-top: 29px;
}

.site-navigation li {
	position: relative;
}

.site-navigation>li {
	padding-bottom: 10px;
}

.site-navigation>li>a {
	margin:0 3px 0 25px ;
}

.search:hover .hover-search {
	display: block;
}

.hover-search input {
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 5px;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.slider {
	position: relative;
	padding-top: 275px;
	text-align: center;
	margin-bottom: 51px;
}

.slider-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 38px;
}

.slider-button {
	padding: 12px 42px;
	border-radius: 32px;
}

.banner-wrapper {
	display:flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.banner1,
.banner2 {
	display: flex;
	flex-direction: column;
	padding: 15px 20px 20px 20px;
}

.banner1 .button,
.banner2 .button {
	align-self: flex-end;
	padding: 11px 22px;
	border-radius: 23px;
}

.banner-offer {
	margin-bottom: 43px;
}

.popular {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1146px;
	margin-bottom: 0px;
}

.popular section {
	width: 267px;
	height: 323px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin-bottom: 39px;
}

.popular section:hover {
	overflow: visible;
}

.popular .product-wrapper {
	width: 100%;
	height: 421px;
	position: absolute;
	top: -6px;
	left: -14px;
	padding: 6px 14px 0 14px;
}

.popular .product-wrapper:hover {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	z-index: 10;
}

.popular section .stiсker {
	position: absolute;
	left: 14px;
	top: 6px;
}

.popular section .price {
	position: absolute;
	left: 14px;
	top: 171px;
}

.popular section h3 {
	margin-top: 0px;
	margin-bottom: 17px;
	padding: 6px;
}

.popular .product-item img {
	border-radius: 50%;
	overflow: hidden;
}

.popular section .quick-view {
	padding: 10px 17px;
	border-radius: 20px;
}

.popular section>a {
	margin-bottom: 21px;
}

.map {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 11px;
}

footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 25px;
}

.footer-social {
	width: 267px;
	padding-top: 18px;
	display: flex;
}

footer .social-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 11px;
	font-size: 0;
	border: 3px solid rgba(255,255,255,.5);
	border-radius: 50%;
	fill: rgba(255, 255, 255, 0.8);
}

footer .social-button:hover,
footer .social-button:focus {
	fill: #ffffff;
}

footer .social-button:active {
	fill: #e9e9e9;
}

.footer-links {
	width: 400px;
	padding-left: 55px;
	padding-top: 14px;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: flex-start;
}

footer .copyright {
	width: 187px;
	padding-left: 80px;
}

.copyright img {
	height: 39px;
}

.modal-feedback input {
	width: 237px;
	height: 42px;
	border-radius: 5px;
	padding-left: 14px;
	padding-right: 14px;
}

.modal-feedback textarea {
	width: 398px;
	border-radius: 5px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 10px;
	padding-bottom: 0px;
}

.modal-feedback .button {
	padding: 10px 20px;
	border-radius: 22px;
	color: #fefefe;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}

.modal-feedback p:last-child {
	text-align: right;
	margin-top: 0px;
}

.modal-close {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 17px;
	height: 17px;
	background: none;
	background-image: url(../img/cross-big.svg);
	cursor: pointer;
	border: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}

.user-navigation {
	margin-bottom: 11px;
}

.user-navigation .search {
	margin-left: 5px;
	padding-bottom: 4px;
	position: relative;
}

.user-navigation .search::after {
	content: "";
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}

.user-navigation .search button {
	width: 32px;
	height: 32px;
	color: #ffffff;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.2);
	fill: #ffffff;
	border-radius: 50%;
	border: none;
	font-size: 0;
}

.user-navigation .hover-search {
	display: none;
	position: absolute;
	margin-top: 4px;
	left: -308px;
	width: 312px;
	background-color: #f8f7f4;
	padding: 20px 15px 20px 15px;
	border-radius: 6px;
}

.search button:hover,
.search button:focus {
	background-color: #f8f7f4;
	fill: #000000;
}

.user-navigation .hover-search label {
	opacity: 1;
	color: #5b9ddf;
	font-size: 11px;
	line-height: 13px;
	padding-left: 15px;
}

.user-navigation .hover-search input:focus + .user-navigation .hover-search label {
	opacity: 1;
}

.user-navigation .hover-search input:valid + .user-navigation .hover-search label {
	opacity: 1;
}

.user-navigation .login-link {
	position: relative;
}

.user-navigation .login-link::after {
	content: "";
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}

.user-navigation .login-link>button {
	font-size: 14px;
	width: 92px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	padding: 6px 16px 6px 16px;
	border-radius: 16px;
	fill: #ffffff;
}

.login-link button:hover,
.login-link button:focus {
	background-color: #f8f7f4;
	color: #000000;
	fill: #000000;
}

.user-navigation .hover-login {
	display: none;
	position: absolute;
	margin-top: 4px;
	left: -182px;
	width: 241px;
	z-index: 2;
	border-radius: 6px;
	padding: 20px 17px 20px 19px;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation .hover-login input {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	color: #323232;
	border: 1px solid #d3d3d2;
	width: 211px;
	height: 42px;
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.user-navigation .hover-login button {
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	font-weight: 700;
	padding: 10px 25px;
	border-radius: 20px;
}


.login-link .login-wrap {
	display: flex;
	justify-content: space-between;
}

.user-navigation .user-login a {
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.user-navigation .user-login a:last-child {
	margin-top: -3px
}

.user-navigation .user-login a:hover {
	color: #e84d37;
}

.button:hover,
.button:focus {
	background-image: linear-gradient(to top, #ec6f5e, #f58669);
	box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
	background-image: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px 0 #942718;
}

.login-link:hover .hover-login {
	display: block;
}

.user-navigation .basket {
	position: relative;
}

.user-navigation .basket::after {
	content: "";
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}

.user-navigation .basket>button {
	width: 117px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	fill: #ffffff;
	border: none;
	padding: 6px 34px 6px 16px;
	border-radius: 16px;
}

.user-navigation .basket button:hover,
.user-navigation .basket button:focus {
	background-color: #f8f7f4;
	color: #000000;
	fill: #000000;
}

.site-navigation .navigation-item {
	padding: 7px 14px;
	margin: 0 0 0 0px;
}

.site-navigation .page-current {
	padding: 7px 14px;
	margin: 0px;
	background-color: #d07058;
	color: #ffffff;
	font-weight: 700;
	border-radius: 15px;
	padding: 7px 14px;
	margin: 0;
}

.user-navigation .basket .cart-full {
	padding: 8px 15px 8px 44px;
	color: #323232;
	background: #f7f6f3 url(../img/basket-red.svg) no-repeat 16px 6px;
	border-radius: 16px;
}

.ordering {
	position: absolute;
	left: -422px;
	z-index: 2;
	margin-top: 4px;
	background-color: #f8f7f4;
	border-radius: 6px;
	display: none;
}

.basket:hover .ordering {
	display: block;
}

.ordering table {
	margin: 20px 15px 13px;
	border-collapse: collapse;
}

.ordering td {
	padding-bottom: 16px;
}

.ordering .column1 {
	width: 28px;
	font-size: 0;
}

.ordering .column2 {
	width: 45px;
}

.ordering .column3 {
	width: 227px;
	padding-right: 20px;
}

.ordering .column4 {
	width: 123px;
}

.ordering .column5 {
	width: 67px;
}

.ordering-close {
	position: relative;
	width: 11px;
	height: 11px;
	margin-bottom: 8px;
	margin-left: 1px;
	font-size: 0;
	background-color: transparent;
	background-image: url("../img/cross-small.svg");
	background-repeat: no-repeat;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.ordering .right {
	text-align: right;
	margin-bottom: 30px;
}

.ordering a {
	max-width: 170px;
	margin-right: 15px;
	margin-bottom: 22px;
	padding: 10px 14px;
	border-radius: 20px;
}

.breadscrumbs li {
	display: inline-block;
}

.breadscrumbs li:not(:last-child)::after {
	content: " » ";
	margin-left: 3px;
	margin-right: 3px;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	width: 860px;
	justify-content: space-between;
	margin-bottom: 25px;
}

.filter-sorting {
	width: 194px;
}

.filter-sorting select:hover {
	color: #323232;
	background-color: #ffffff;
}

.filter-price {
	width: 220px;
}

.range-controls {
	position: relative;
	margin: auto;
	margin-top: 4px;
	border-radius: 20px;
	width: 176px;
	padding-top: 17px;
	padding-left: 20px;
	padding-right: 19px;
	padding-bottom: 18px;
	background: rgba( 255, 255, 255, .2);
}

.scale {
	height: 4px;
	background-color: rgba(248, 247, 244, 0.5);
}

.complete-scale {
	width: 90px;
	margin-left: 29px;
	height: 4px;
	background-color: rgba(248, 247, 244, 1);
}

.switcher {
	position: absolute;
	top: 8px;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgba(248, 247, 244, 1);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	transition: all .05s linear;
}

.switcher::after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	background: #ababab;
	margin: auto;
}

.switcher-min {
	left: 32px;
}

.switcher-max {
	left: 130px;
}

.switcher:hover {
	width: 24px;
	height: 24px;
	top: 6px;
}

.switcher-min:hover {
	left: 32px;
}

.switcher-max:hover {
	left: 130px;
}

.filter .radio-section {
	position: relative;
	margin-right: 16px;
	padding-left: 31px;
}

.filter .checkbox-section {
	position: relative;
	margin-right: 17px;
	padding-left: 33px;
}

.filter .radio-indicator {
	position: absolute;
	top: -3px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter .radio1,
.filter .radio2 {
	left: -2px;
}

.filter .radio3 {
	left: -4px;
}

.filter .radio4 {
	left: -5px;
}

.filter-additive {
	width: 702px;
}

.filter .checkbox-indicator {
	position: absolute;
	top: 0px;
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-additive .checkbox1 {
	left: 2px;
}

.filter-additive .checkbox2,
.filter-additive .checkbox4 {
	left: 0px;
}

.filter-additive .checkbox3 {
	left: -2px;
}

.filter-additive .checkbox5 {
	left: -1px;
}

.radio-indicator-input:checked ~ .radio-indicator {
	background-image: url("../img/radio-on.svg");
}

.checkbox-indicator-input:checked ~ .checkbox-indicator {
	background-image: url("../img/checkbox-on.svg");
}

.filter {
	font-size: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filter .filter-sorting {
	margin-right: 0px;
	width: 193px;
}

.filter .filter-sorting legend {
	margin-left: 16px;
}

.filter-sorting .select-wrapper {
	position: relative;
	border-radius: 17px;
}

.filter select {
	padding: 0;
	height: 36px;
	padding-left: 12px;
	padding-right: 12px;
}

.filter .filter-price {
	width: 218px;
	margin-left: -4px;
}

.filter .filter-price legend {
	margin-left: 16px;
}

.filter-price .range-controls {
	padding-top: 16px;
	padding-bottom: 16px;
}

.filter .filter-fat {
	width: 415px;
	margin-right: 1px;
}

.filter .filter-fat legend {
	margin-left: 13px;
}

.filter-fat .filter-bg {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
	padding-right: 12px;
}

.filter .radio-section:last-child {
	margin-right: 0;
}

.filter .filter-additive {
	width: 702px;
}

.filter .filter-additive legend {
	margin-left: 15px;
}

.filter .filter-additive label:last-child {
	margin-right: 0;
}

.filter button {
	font-size: 16px;
}